/* end off side menu */
$small_layout: (columns: 12, gutter-position: split, global-box-sizing: border-box, gutters: 1/2,  debug: (
    image: show,
  ),);
$susy: ( gutter-position: split,
columns: 12,
column-width: 65px,
gutters: 30/65,
  debug: (
    image: show,
  ),);

@include border-box-sizing;



$medium:46em;
$large:71.25em;
