// Return vendor-prefixed property names if appropriate
// Example: transition-property-names((transform, color, background), moz) -> -moz-transform, color, background
//************************************************************************//
@function transition-property-names($prtheme, $vendor: false) {
  $new-prtheme: ();

  @each $prop in $prtheme {
    $new-prtheme: append($new-prtheme, transition-property-name($prop, $vendor), comma);
  }

  @return $new-prtheme;
}

@function transition-property-name($prop, $vendor: false) {
  // put other properties that need to be prefixed here aswell
  @if $vendor and $prop == transform {
    @return unquote('-'+$vendor+'-'+$prop);
  }
  @else {
    @return $prop;
  }
}
