#site-navigation{
  .menu-main-container{
    display:none;
  }
      @include breakpoint($large){
        .menu-main-container{
          display:block;
        }
        .menu_toggle{
          display:none;
        }
      }
}
