@charset "UTF-8";
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
/* end off side menu */
/* line 21, D:/www/ops/apps/wp/wp-content/themes/wp_theme/bower_components/susy/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* line 1, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/_normalize.scss */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* line 7, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/_normalize.scss */
body {
  margin: 0; }

/* line 11, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

/* line 26, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

/* line 34, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/* line 39, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/_normalize.scss */
[hidden],
template {
  display: none; }

/* line 44, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/_normalize.scss */
a {
  background-color: transparent; }

/* line 48, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/_normalize.scss */
a:active,
a:hover {
  outline: 0; }

/* line 53, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 57, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/_normalize.scss */
b,
strong {
  font-weight: bold; }

/* line 62, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/_normalize.scss */
dfn {
  font-style: italic; }

/* line 66, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 71, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000; }

/* line 76, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/_normalize.scss */
small {
  font-size: 80%; }

/* line 80, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 88, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/_normalize.scss */
sup {
  top: -0.5em; }

/* line 92, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/_normalize.scss */
sub {
  bottom: -0.25em; }

/* line 96, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/_normalize.scss */
img {
  border: 0; }

/* line 100, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 104, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/_normalize.scss */
figure {
  margin: 1em 40px; }

/* line 108, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/_normalize.scss */
hr {
  box-sizing: content-box;
  height: 0; }

/* line 113, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/_normalize.scss */
pre {
  overflow: auto; }

/* line 117, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* line 125, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

/* line 135, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/_normalize.scss */
button {
  overflow: visible; }

/* line 139, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/_normalize.scss */
button,
select {
  text-transform: none; }

/* line 144, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

/* line 152, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default; }

/* line 157, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 163, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/_normalize.scss */
input {
  line-height: normal; }

/* line 167, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/* line 173, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/* line 178, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 183, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* line 189, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/_normalize.scss */
legend {
  border: 0;
  padding: 0; }

/* line 194, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/_normalize.scss */
textarea {
  overflow: auto; }

/* line 198, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/_normalize.scss */
optgroup {
  font-weight: bold; }

/* line 202, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 207, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/_normalize.scss */
td,
th {
  padding: 0; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
/*@include font-face("Museo", "fonts/MuseoSans_300", 300);*/
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/* line 1, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/navigation/_navigation.scss */
.menu_toggle {
  margin-top: 35px;
  float: right; }

/* line 6, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/navigation/_navigation.scss */
#mobile-menu ul {
  width: 100%; }

/* line 9, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/navigation/_navigation.scss */
#mobile-menu li {
  width: 100%; }

/* elements */
/* Slider */
/* line 3, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/slick.scss */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

/* line 18, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/slick.scss */
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  /* line 25, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/slick.scss */
  .slick-list:focus {
    outline: none; }
  /* line 29, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/slick.scss */
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

/* line 34, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/slick.scss */
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/* line 43, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/slick.scss */
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  /* line 49, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/slick.scss */
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  /* line 55, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/slick.scss */
  .slick-track:after {
    clear: both; }
  /* line 59, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/slick.scss */
  .slick-loading .slick-track {
    visibility: hidden; }

/* line 63, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/slick.scss */
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  /* line 67, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/slick.scss */
  [dir="rtl"] .slick-slide {
    float: right; }
  /* line 70, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/slick.scss */
  .slick-slide img {
    display: block; }
  /* line 73, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/slick.scss */
  .slick-slide.slick-loading img {
    display: none; }
  /* line 79, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/slick.scss */
  .slick-slide.dragging img {
    pointer-events: none; }
  /* line 83, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/slick.scss */
  .slick-initialized .slick-slide {
    display: block; }
  /* line 87, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/slick.scss */
  .slick-loading .slick-slide {
    visibility: hidden; }
  /* line 91, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/slick.scss */
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

/* line 97, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/slick.scss */
.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
/* line 40, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/slick-theme.scss */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("../css/fonts/slick.eot");
  src: url("../css/fonts/slick.eot?#iefix") format("embedded-opentype"), url("../css/fonts/slick.woff") format("woff"), url("../css/fonts/slick.ttf") format("truetype"), url("../css/fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
/* line 58, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/slick-theme.scss */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px\9;
  /*lte IE 8*/
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  /* line 77, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/slick-theme.scss */
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    /* line 81, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/slick-theme.scss */
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  /* line 85, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/slick-theme.scss */
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }

/* line 90, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/slick-theme.scss */
.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: black;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 100, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/slick-theme.scss */
.slick-prev {
  left: -25px; }
  /* line 102, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/slick-theme.scss */
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  /* line 106, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/slick-theme.scss */
  .slick-prev:before {
    content: "←"; }
    /* line 108, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/slick-theme.scss */
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

/* line 114, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/slick-theme.scss */
.slick-next {
  right: -25px; }
  /* line 116, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/slick-theme.scss */
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  /* line 120, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/slick-theme.scss */
  .slick-next:before {
    content: "→"; }
    /* line 122, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/slick-theme.scss */
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
/* line 130, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/slick-theme.scss */
.slick-slider {
  margin-bottom: 30px; }

/* line 134, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/slick-theme.scss */
.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%; }
  /* line 142, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/slick-theme.scss */
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    /* line 150, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/slick-theme.scss */
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      /* line 162, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/slick-theme.scss */
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        /* line 164, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/slick-theme.scss */
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      /* line 168, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/slick-theme.scss */
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    /* line 185, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/slick-theme.scss */
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/**
 * Lightcase - jQuery Plugin
 * The smart and flexible Lightbox Plugin.
 *
 * @author		Cornel Boppart <cornel@bopp-art.com>
 * @copyright	Author
 *
 * @version		2.3.4 (29/12/2015)
 */
/**
 * Lightcase settings
 *
 * Note: Override default settings for your project without touching this source code by simply
 * defining those variables within a SASS map called '$lightcase-custom'.
 *
 * // Example usage
 * $lightcase-custom: (
 *   'breakpoint': 768px
 * );
 */
@font-face {
  font-family: 'lightcase';
  src: url("../css/fonts/lightcase.eot?55356177");
  src: url("../css/fonts/lightcase.eot?55356177#iefix") format("embedded-opentype"), url("../css/fonts/lightcase.woff?55356177") format("woff"), url("../css/fonts/lightcase.ttf?55356177") format("truetype"), url("../css/fonts/lightcase.svg?55356177#lightcase") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 12, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/fonts/_font-lightcase.scss */
[class*='lightcase-icon-']:before {
  font-family: 'lightcase', sans-serif;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

/* Codes */
/* line 35, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/fonts/_font-lightcase.scss */
.lightcase-icon-play:before {
  content: '\e800'; }

/* line 36, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/fonts/_font-lightcase.scss */
.lightcase-icon-pause:before {
  content: '\e801'; }

/* line 37, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/fonts/_font-lightcase.scss */
.lightcase-icon-close:before {
  content: '\e802'; }

/* line 38, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/fonts/_font-lightcase.scss */
.lightcase-icon-prev:before {
  content: '\e803'; }

/* line 39, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/fonts/_font-lightcase.scss */
.lightcase-icon-next:before {
  content: '\e804'; }

/* line 40, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/fonts/_font-lightcase.scss */
.lightcase-icon-spin:before {
  content: '\e805'; }

/**
 * Mixin providing icon defaults to be used on top of font-lightcase.
 *
 * Example usage:
 * @include icon(#e9e9e9)
 */
/**
 * Mixin providing icon defaults including a hover status to be used
 * on top of font-lightcase.
 *
 * Example usage:
 * @include icon-hover(#e9e9e9, #fff)
 */
/**
 * Provides natural content overflow behavior and scrolling support
 * even so for touch devices.
 *
 * Example usage:
 * @include overflow()
 */
/**
 * Neutralizes/resets dimensions including width, height, position as well as margins,
 * paddings and styles. Used to enforce a neutral and unstyled look and behavoir!
 *
 * Example usage:
 * @include clear(true)
 *
 * @param boolean $important
 */
@-webkit-keyframes lightcase-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg); } }

@-moz-keyframes lightcase-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg); } }

@-o-keyframes lightcase-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg); } }

@-ms-keyframes lightcase-spin {
  /* line 55, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_animations.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  /* line 61, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_animations.scss */
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes lightcase-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg); } }

/* line 1, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_case.scss */
#lightcase-case {
  display: none;
  position: fixed;
  z-index: 2002;
  top: 50%;
  left: 50%;
  font-family: arial, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  text-align: left;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  @media screen and (max-width: 640px) {
    /* line 16, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_case.scss */
    #lightcase-case:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) {
      position: relative !important;
      top: auto !important;
      left: auto !important;
      width: auto !important;
      height: auto !important;
      margin: 0 !important;
      padding: 0 !important;
      border: none !important;
      background: none !important; } }

@media screen and (min-width: 641px) {
  /* line 4, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_content.scss */
  #lightcase-case:not([data-lc-type=error]) #lightcase-content {
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-shadow: none;
    background-color: #fff;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    -webkit-backface-visibility: hidden; } }

@media screen and (min-width: 641px) {
  /* line 24, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_content.scss */
  #lightcase-case[data-lc-type=image] #lightcase-content,
  #lightcase-case[data-lc-type=video] #lightcase-content {
    background-color: #333; } }

/* line 32, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_content.scss */
#lightcase-case:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) #lightcase-content {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none; }
  @media screen and (max-width: 640px) {
    /* line 32, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_content.scss */
    #lightcase-case:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) #lightcase-content {
      position: relative !important;
      top: auto !important;
      left: auto !important;
      width: auto !important;
      height: auto !important;
      margin: 0 !important;
      padding: 0 !important;
      border: none !important;
      background: none !important; } }
  /* line 42, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_content.scss */
  #lightcase-case:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) #lightcase-content .lightcase-contentInner {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
    @media screen and (max-width: 640px) {
      /* line 42, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_content.scss */
      #lightcase-case:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) #lightcase-content .lightcase-contentInner {
        padding: 15px; }
        /* line 51, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_content.scss */
        #lightcase-case:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) #lightcase-content .lightcase-contentInner, #lightcase-case:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) #lightcase-content .lightcase-contentInner > * {
          width: 100% !important;
          max-width: none !important; }
        /* line 58, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_content.scss */
        #lightcase-case:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) #lightcase-content .lightcase-contentInner > *:not(iframe) {
          height: auto !important;
          max-height: none !important; } }

@media screen and (max-width: 640px) {
  /* line 69, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_content.scss */
  .lightcase-isMobileDevice #lightcase-case[data-lc-type=iframe] #lightcase-content .lightcase-contentInner {
    overflow: auto;
    -webkit-overflow-scrolling: touch; } }

@media screen and (max-width: 640px) and (min-width: 641px) {
  /* line 73, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_content.scss */
  [data-lc-type=image] #lightcase-content .lightcase-contentInner,
  [data-lc-type=video] #lightcase-content .lightcase-contentInner {
    line-height: 0.75; } }

/* line 85, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_content.scss */
.lightcase-isMobileDevice #lightcase-case[data-lc-type=iframe] #lightcase-content .lightcase-contentInner .lightcase-inlineWrap {
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

@media screen and (max-width: 640px) {
  /* line 90, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_content.scss */
  #lightcase-case:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) #lightcase-content .lightcase-contentInner .lightcase-inlineWrap {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    width: auto !important;
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    background: none !important; } }

@media screen and (min-width: 641px) {
  /* line 97, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_content.scss */
  #lightcase-case:not([data-lc-type=error]) #lightcase-content .lightcase-contentInner .lightcase-inlineWrap {
    padding: 30px;
    overflow: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; } }

@media screen and (max-width: 640px) {
  /* line 114, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_content.scss */
  #lightcase-content h1, #lightcase-content h2, #lightcase-content h3, #lightcase-content h4, #lightcase-content h5, #lightcase-content h6, #lightcase-content p {
    color: #aaa; } }

@media screen and (min-width: 641px) {
  /* line 114, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_content.scss */
  #lightcase-content h1, #lightcase-content h2, #lightcase-content h3, #lightcase-content h4, #lightcase-content h5, #lightcase-content h6, #lightcase-content p {
    color: #333; } }

/* line 3, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_error.scss */
#lightcase-case p.lightcase-error {
  margin: 0;
  font-size: 17px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #aaa; }
  @media screen and (max-width: 640px) {
    /* line 3, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_error.scss */
    #lightcase-case p.lightcase-error {
      padding: 30px 0; } }
  @media screen and (min-width: 641px) {
    /* line 3, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_error.scss */
    #lightcase-case p.lightcase-error {
      padding: 0; } }

/* line 6, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_global.scss */
.lightcase-isMobileDevice .lightcase-open body {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden; }

@media screen and (max-width: 640px) {
  /* line 4, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_global.scss */
  .lightcase-open body {
    padding: 55px 0 70px 0; }
    /* line 15, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_global.scss */
    .lightcase-open body > *:not([id*='lightcase-']) {
      position: fixed !important;
      top: -9999px !important;
      width: 0 !important;
      height: 0 !important;
      overflow: hidden !important; } }

/* line 1, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_info.scss */
#lightcase-info {
  position: absolute;
  padding-top: 15px; }
  /* line 9, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_info.scss */
  #lightcase-info #lightcase-title,
  #lightcase-info #lightcase-caption {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-weight: normal;
    text-overflow: ellipsis; }
  /* line 19, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_info.scss */
  #lightcase-info #lightcase-title {
    font-size: 17px;
    color: #aaa; }
    @media screen and (max-width: 640px) {
      /* line 19, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_info.scss */
      #lightcase-info #lightcase-title {
        position: fixed;
        top: 10px;
        left: 0;
        max-width: 87.5%;
        padding: 5px 15px;
        background: #333; } }
  /* line 33, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_info.scss */
  #lightcase-info #lightcase-caption {
    clear: both;
    font-size: 13px;
    color: #aaa; }
  /* line 39, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_info.scss */
  #lightcase-info #lightcase-sequenceInfo {
    font-size: 11px;
    color: #aaa; }
  @media screen and (max-width: 640px) {
    /* line 45, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_info.scss */
    .lightcase-fullScreenMode #lightcase-info {
      padding-left: 15px;
      padding-right: 15px; }
    /* line 51, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_info.scss */
    #lightcase-case:not([data-lc-type=image]):not([data-lc-type=video]):not([data-lc-type=flash]):not([data-lc-type=error]) #lightcase-info {
      position: static; } }

/* line 1, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_loading.scss */
#lightcase-loading {
  position: fixed;
  z-index: 9999;
  width: 1.123em;
  height: auto;
  font-size: 38px;
  line-height: 1;
  text-align: center;
  text-shadow: none;
  position: fixed;
  z-index: 2001;
  top: 50%;
  left: 50%;
  margin-top: -0.5em;
  margin-left: -0.5em;
  opacity: 1;
  font-size: 32px;
  text-shadow: 0 0 15px #fff;
  -moz-transform-origin: 50% 53%;
  -webkit-animation: lightcase-spin 0.5s infinite linear;
  -moz-animation: lightcase-spin 0.5s infinite linear;
  -o-animation: lightcase-spin 0.5s infinite linear;
  animation: lightcase-spin 0.5s infinite linear; }
  /* line 20, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/mixins/_presets.scss */
  #lightcase-loading, #lightcase-loading:focus {
    text-decoration: none;
    color: #fff;
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: color, opacity, ease-in-out 0.25s;
    -moz-transition: color, opacity, ease-in-out 0.25s;
    -o-transition: color, opacity, ease-in-out 0.25s;
    transition: color, opacity, ease-in-out 0.25s; }
  /* line 32, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/mixins/_presets.scss */
  #lightcase-loading > span {
    display: inline-block;
    text-indent: -9999px; }

/* line 4, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_navigation.scss */
#lightcase-nav a[class*='lightcase-icon-'] {
  position: fixed;
  z-index: 9999;
  width: 1.123em;
  height: auto;
  font-size: 38px;
  line-height: 1;
  text-align: center;
  text-shadow: none;
  outline: none;
  cursor: pointer; }
  /* line 20, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/mixins/_presets.scss */
  #lightcase-nav a[class*='lightcase-icon-'], #lightcase-nav a[class*='lightcase-icon-']:focus {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    -webkit-tap-highlight-color: transparent;
    -webkit-transition: color, opacity, ease-in-out 0.25s;
    -moz-transition: color, opacity, ease-in-out 0.25s;
    -o-transition: color, opacity, ease-in-out 0.25s;
    transition: color, opacity, ease-in-out 0.25s; }
  /* line 32, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/mixins/_presets.scss */
  #lightcase-nav a[class*='lightcase-icon-'] > span {
    display: inline-block;
    text-indent: -9999px; }
  /* line 49, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/mixins/_presets.scss */
  #lightcase-nav a[class*='lightcase-icon-']:hover {
    color: white;
    text-shadow: 0 0 15px white; }
  /* line 12, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_navigation.scss */
  .lightcase-isMobileDevice #lightcase-nav a[class*='lightcase-icon-']:hover {
    color: #aaa;
    text-shadow: none; }
  /* line 19, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_navigation.scss */
  #lightcase-nav a[class*='lightcase-icon-'].lightcase-icon-prev {
    left: 15px; }
  /* line 24, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_navigation.scss */
  #lightcase-nav a[class*='lightcase-icon-'].lightcase-icon-next {
    right: 15px; }
  /* line 29, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_navigation.scss */
  #lightcase-nav a[class*='lightcase-icon-'].lightcase-icon-pause, #lightcase-nav a[class*='lightcase-icon-'].lightcase-icon-play {
    left: 50%;
    margin-left: -0.5em; }
    @media screen and (min-width: 641px) {
      /* line 29, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_navigation.scss */
      #lightcase-nav a[class*='lightcase-icon-'].lightcase-icon-pause, #lightcase-nav a[class*='lightcase-icon-'].lightcase-icon-play {
        opacity: 0; } }
  /* line 40, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_navigation.scss */
  #lightcase-nav a[class*='lightcase-icon-'].lightcase-icon-close {
    top: 15px;
    right: 15px;
    bottom: auto;
    margin: 0;
    opacity: 0;
    outline: none; }
    @media screen and (max-width: 640px) {
      /* line 40, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_navigation.scss */
      #lightcase-nav a[class*='lightcase-icon-'].lightcase-icon-close {
        position: absolute; } }
    @media screen and (min-width: 641px) {
      /* line 40, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_navigation.scss */
      #lightcase-nav a[class*='lightcase-icon-'].lightcase-icon-close {
        position: fixed; } }
  @media screen and (max-width: 640px) {
    /* line 4, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_navigation.scss */
    #lightcase-nav a[class*='lightcase-icon-'] {
      bottom: 15px;
      font-size: 24px; } }
  @media screen and (min-width: 641px) {
    /* line 4, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_navigation.scss */
    #lightcase-nav a[class*='lightcase-icon-'] {
      bottom: 50%;
      margin-bottom: -0.5em; }
      /* line 66, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_navigation.scss */
      #lightcase-nav a[class*='lightcase-icon-']:hover,
      #lightcase-case:hover ~ #lightcase-nav a[class*='lightcase-icon-'] {
        opacity: 1; } }

/* line 1, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_overlay.scss */
#lightcase-overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  background: #333; }
  @media screen and (max-width: 640px) {
    /* line 1, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/elements/components/modules/_overlay.scss */
    #lightcase-overlay {
      opacity: 1 !important; } }

/****
#Layout
*/
/* line 1, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/layout/_grid.scss */
.wrapper {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-linear-gradient( left , transparent 16.6666666667%, rgba(102, 102, 255, 0.25) 16.6666666667%, rgba(179, 179, 255, 0.25) 83.3333333333%, transparent 83.3333333333%);
  background-image: linear-gradient(to right, transparent 16.6666666667%, rgba(102, 102, 255, 0.25) 16.6666666667%, rgba(179, 179, 255, 0.25) 83.3333333333%, transparent 83.3333333333%);
  background-size: 8.3333333333%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top; }
  /* line 12, D:/www/ops/apps/wp/wp-content/themes/wp_theme/bower_components/susy/sass/susy/output/support/_clearfix.scss */
  .wrapper:after {
    content: " ";
    display: block;
    clear: both; }
  @media (min-width: 71.25em) {
    /* line 1, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/layout/_grid.scss */
    .wrapper {
      max-width: 1140px;
      margin-left: auto;
      margin-right: auto;
      background-image: -webkit-linear-gradient( left , transparent 15.7894736842%, rgba(102, 102, 255, 0.25) 15.7894736842%, rgba(179, 179, 255, 0.25) 84.2105263158%, transparent 84.2105263158%);
      background-image: linear-gradient(to right, transparent 15.7894736842%, rgba(102, 102, 255, 0.25) 15.7894736842%, rgba(179, 179, 255, 0.25) 84.2105263158%, transparent 84.2105263158%);
      background-size: 8.3333333333%;
      background-origin: content-box;
      background-clip: content-box;
      background-position: left top; }
      /* line 12, D:/www/ops/apps/wp/wp-content/themes/wp_theme/bower_components/susy/sass/susy/output/support/_clearfix.scss */
      .wrapper:after {
        content: " ";
        display: block;
        clear: both; } }

/* line 8, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/layout/_grid.scss */
.site-branding {
  width: 55.701754386%;
  float: left;
  margin-left: 1.3157894737%;
  margin-right: 1.3157894737%; }
  @media (min-width: 71.25em) {
    /* line 8, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/layout/_grid.scss */
    .site-branding {
      width: 14.0350877193%;
      float: left;
      margin-left: 1.3157894737%;
      margin-right: 1.3157894737%; } }

/* line 14, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/layout/_grid.scss */
#site-navigation {
  width: 30.701754386%;
  float: right;
  margin-left: 1.3157894737%;
  margin-right: 1.3157894737%; }
  @media (min-width: 71.25em) {
    /* line 14, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/layout/_grid.scss */
    #site-navigation {
      width: 64.0350877193%;
      float: right;
      margin-left: 1.3157894737%;
      margin-right: 1.3157894737%; } }

/* line 21, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/layout/_grid.scss */
#masthead {
  width: 100%;
  float: left; }

/* line 24, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/layout/_grid.scss */
#content {
  width: 100%;
  float: left; }

/* line 1, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/layout/_base.scss */
*:focus {
  outline: none; }

/* line 4, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/layout/_base.scss */
a {
  text-decoration: none; }
  /* line 26, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/mixins/_mixins-master.scss */
  a:link {
    color: #000; }
  /* line 27, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/mixins/_mixins-master.scss */
  a:visited {
    color: #000; }
  /* line 28, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/mixins/_mixins-master.scss */
  a:hover {
    color: red; }

/* line 2, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/layout/_header.scss */
#site-navigation .menu-main-container {
  display: none; }

@media (min-width: 71.25em) {
  /* line 6, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/layout/_header.scss */
  #site-navigation .menu-main-container {
    display: block; }
  /* line 9, D:/www/ops/apps/wp/wp-content/themes/wp_theme/sass/layout/_header.scss */
  #site-navigation .menu_toggle {
    display: none; } }

/*# sourceMappingURL=main.css.map */